@(current: String, parent: String, dirs: List[String], files: List[String])(implicit session: Session)

@main("Listing directory") {

<h1>Listing directory "@current"</h1>
<div class="row">
    <div class="col-md-12">
        <h2>Content</h2>
        <ul>

        @if(current != "/") {
        <li><a href="@routes.Dropbox.listDirectory(parent)">Go back ..</a></li>
        }
        @for(dir <- dirs) {
            <li><a href="@routes.Dropbox.listDirectory(current + dir)">@dir</a></li>
        }
        </ul>

        <ul>
        @for(file <- files) {
            <li>@file</li>
        }
        </ul>
        <h2>Actions</h2>

    </div>
</div>

}
